<h1><%= @restaurant.name %></h1>
<h1><%= @restaurant.description %></h1>
<% unless @restaurant.reviews.find_by(user_id: current_user).present? %>
  <%= link_to "Review #{@restaurant.name}", new_restaurant_review_path(@restaurant) %>
<% end %>

<% if @restaurant.reviews.any? %>
  <% @restaurant.reviews.each do |review| %>
    <h2><%= review.thoughts %></h2>
    <h5><%= created_since(review) %></h5>
    <% if review.user_id == current_user.id %>
      <%= link_to "Delete review", restaurant_review_path(@restaurant, review), method: :delete %>
    <% end %>
  <% end %>
<% else %>
  <p>No reviews.</p>
<% end %>
